:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C; 

}</div>
body {
background-color: var(--cor-de-fundo);
color: var(--branco-principal)

 }

 * {
padding:0;
margin:0;
 }

 .principal {
background-image: url(img/Background.png);
background-repeat: no-repeat;
background-size:contain ;
    
 }
.container {
height:100vh;
display: grid;
 grid-template-columns: 10% 10
 %;
 }

  .container__botao {
    background-color: var(--botao-azul);
    border-radius: 16px;
    padding: lem;
    color: var(--branco-principal);
    display: block;
  }
  botao_secundario-{

  }
